name: Aula 2 - Tempo e Paralelismo

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  job-1:
    runs-on: ubuntu-latest
    steps:
      - name: Job 1
        run: sleep 5
  job-2:
    runs-on: ubuntu-latest
    steps:
      - name: Job 2
        run: sleep 5
  