name: CI - Integration Tests

on:
  workflow_dispatch
  # pull_request:
  # push:
  #   branches:
  #     - main

jobs:
  integration:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        shard: [1,2,3,4]
        total_shards: [4]

    steps:
      - uses: actions/checkout@v4

      - name: Executar shard ${{ matrix.shard }}
        run: |
          echo "Rodando shard ${{ matrix.shard }} de integração"
          sleep 3