name: CI - Unit Tests

on:
  workflow_dispatch
  # push:
  #   branches:
  #     - "**"

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Executar unit tests
        run: |
          echo "Rodando testes unitários rápidos"
          sleep 2